# Task store driver: memory, cache, database
AGENT_TASK_STORE=memory

# RunCommand default executor: sync, async, queued
AGENT_EXECUTOR=async

# Cache driver task store settings
AGENT_CACHE_STORE=

# Database driver task store settings
AGENT_DB_CONNECTION=
